---
import { type CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths() {
	const newsItems = await getCollection('news');
	return newsItems.map((newsItem) => ({
		params: { slug: newsItem.slug },
		props: newsItem,
	}));
}

type Props = CollectionEntry<'news'>;

const newsItem = Astro.props;
const { Content } = await newsItem.render();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={newsItem.data.title} description={newsItem.data.description} />
	</head>
	<body>
		<Header />
		<main>
			<article class="relative">
				<div class="relative">
					<img 
						src={newsItem.data.heroImage} 
						alt={newsItem.data.title} 
						class="w-full opacity-70" 
					/>
				</div>
				<Content />
				<p class="mt-4">
					<i>Erschienen am <FormattedDate date={newsItem.data.pubDate} /></i>
				</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
