---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const newsItems = (await getCollection('news')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={`News - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-100 md:w-5/6 lg:w-[960px] m-auto p-4">
			<section>
				<h1>News</h1>
				<ul class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 gap-8 list-none m-0 p-0 w-full h-auto justify-center">
					{newsItems.map((newsItem) => (
						<li class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 border-solid border-2 w-full h-auto rounded-3xl">
							<!-- Image Section -->
							<img
								src={newsItem.data.heroImage}
								alt={newsItem.data.title}
								class="m-0 p-0 w-full h-48 rounded-2xl rounded-b-none object-cover"
								width="100%"
							/>
      						<!-- Text Section -->
							<div class="p-4 flex-grow flex flex-col justify-between">
								<div class="flex flex-col w-full justify-between">
									<!-- Title and date -->
									<h4 class="m-0 p-0 text-center font-bold tracking-tight">{newsItem.data.title}</h4>
									<p class="m-0 p-0 text-center font-bold">
										<FormattedDate date={newsItem.data.pubDate} />
									</p>
								</div>
								<!-- Content -->
								<p>{newsItem.data.description}</p>
								<!-- Link -->
								<div class="flex justify-center mt-auto">
									<a
										href={`/news/${newsItem.slug}/`}
										class="px-3 py-1 text-sm text-center text-white dark:text-gray-100 bg-blue-500 dark:bg-blue-600 rounded-lg focus:ring-4 focus:outline-none focus:text-gray-200 dark:focus:ring-gray-400"
									>
										weiterlesen
									</a>
								</div>
							</div>
						</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
