---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";

import telegram from "/src/images/telegram.svg";
import instagram from "/src/images/insta.svg";
import discord from "/src/images/discord.svg";
import gitlab from "/src/images/gitlab.svg";
---

<header class="inset-x-0 top-0 z-50 lg:bg-gray-50 lg:dark:bg-slate-800">
  <nav class="w-full justify-between p-6 lg:px-8" aria-label="Global">
    <div class="hidden text-left lg:flex">
      <a
        class="text-m font-semibold text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/">{SITE_TITLE}</a
      >
    </div>
    <div class="hidden flex-row gap-x-12 lg:flex">
      <a
        class="text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/wiki">Wiki</a
      >
      <a
        class="text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/calendar">Kalender</a
      >
      <!-- We hide this until the next semester starts and the new members are elected.
      <a
        class="text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/members">Mitglieder</a
      >
      -->
      <a
        class="text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/events">Veranstaltungen</a
      >
      <a
        class="text-black hover:text-black dark:text-white dark:hover:text-white"
        href="/contact">Kontakt</a
      >
      <button
        id="theme-toggle"
        class="rounded-full p-2 text-gray-800 focus:outline-none dark:bg-gray-800 dark:text-gray-200"
        aria-label="Toggle Dark Mode"
      >
        🌓
      </button>
    </div>
    <div class="hidden flex-row justify-end lg:flex">
      <div class="flex">
        <a href="https://t.me/fsinfLeipzig" target="_blank">
          <span class="sr-only">Telegram</span>
          <Image
            src={telegram}
            alt="Telegram"
            width="32"
            height="32"
            loading="eager"
            aria-hidden="true"
          />
        </a>
        <a href="https://www.instagram.com/fsinf_leipzig/" target="_blank">
          <span class="sr-only">Fsinf Insta</span>
          <Image
            src={instagram}
            alt="Instagram"
            width="32"
            height="32"
            loading="eager"
            aria-hidden="true"
          />
        </a>
        <a href="https://discord.com/invite/kprYzcKpvk" target="_blank">
          <span class="sr-only">Fsinf Discord</span>
          <Image
            src={discord}
            alt="Discord"
            width="32"
            height="32"
            loading="eager"
            aria-hidden="true"
          />
        </a>
        <a href="https://git.fsinf.informatik.uni-leipzig.de/" target="_blank">
          <span class="sr-only">Fsinf GitLab repo</span>
          <Image
            src={gitlab}
            alt="GitLab"
            width="32"
            height="32"
            loading="eager"
            aria-hidden="true"
          />
        </a>
      </div>
    </div>
    <div class="flex w-full justify-end lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
        id="mobile-navbar-open-btn"
      >
        <span class="sr-only">Öffne Menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    class="hidden"
    role="dialog"
    aria-modal="true"
    id="mobile-navbar-overlay"
  >
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-50 px-6 py-6 dark:bg-gray-900 sm:max-w-sm sm:ring-1 sm:ring-white/10"
    >
      <div class="flex items-center justify-between">
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-400"
          id="mobile-navbar-close-btn"
        >
          <span class="sr-only">Schließe Menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/25">
          <div class="space-y-2 py-4">
            <a
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black hover:text-black dark:text-white dark:hover:text-white"
              href="/">Home</a
            >
            <a
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black hover:text-black dark:text-white dark:hover:text-white"
              href="/wiki">Wiki</a
            >
            <a
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black hover:text-black dark:text-white dark:hover:text-white"
              href="/calendar">Kalender</a
            >
            <!-- We hide this until the next semester starts and the new members are elected.
            <a
              class="text-black hover:text-black dark:text-white dark:hover:text-white -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7"
              href="/members">Mitglieder</a
            >
            -->
            <a
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black hover:text-black dark:text-white dark:hover:text-white"
              href="/events">Veranstaltungen</a
            >
            <a
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black hover:text-black dark:text-white dark:hover:text-white"
              href="/contact">Kontakt</a
            >
          </div>
          <div class="grid grid-cols-4 gap-4 py-4">
            <a href="https://t.me/fsinfLeipzig" target="_blank">
              <span class="sr-only">Telegram</span>
              <Image
                src={telegram}
                alt="Telegram"
                width="32"
                height="32"
                loading="eager"
                aria-hidden="true"
              />
            </a>
            <a href="https://www.instagram.com/fsinf_leipzig/" target="_blank">
              <span class="sr-only">Fsinf Insta</span>
              <Image
                src={instagram}
                alt="Instagram"
                width="32"
                height="32"
                loading="eager"
                aria-hidden="true"
              />
            </a>
            <a href="https://discord.com/invite/kprYzcKpvk" target="_blank">
              <span class="sr-only">Fsinf Discord</span>
              <Image
                src={discord}
                alt="Discord"
                width="32"
                height="32"
                loading="eager"
                aria-hidden="true"
              />
            </a>
            <a
              href="https://git.fsinf.informatik.uni-leipzig.de/"
              target="_blank"
            >
              <span class="sr-only">Fsinf GitLab repo</span>
              <Image
                src={gitlab}
                alt="GitLab"
                width="32"
                height="32"
                loading="eager"
                aria-hidden="true"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
