---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const news = await getCollection('news');

// Sort news after date and then limit them to 3. We don't want to show more then
// the last 3 most recent posts on the front page.
const sortedNews = news.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 3);
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-center w-full align-middle">
  {sortedNews.map((item) => (
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 flex flex-col">
      <!-- Image Section -->
      <a href={`/news/${item.slug}/`}>
        <img
          class="rounded-t-lg w-full h-48 object-cover"
          src={item.data.heroImage}
          alt={item.data.title}
        />
      </a>
      <!-- Text Section -->
      <div class="p-4 flex-grow flex flex-col justify-between">
        <!-- Title -->
        <a href={`/news/${item.slug}/`}>
          <h5 class="mb-2 font-bold text-lg tracking-tight text-gray-900 dark:text-white">
            {item.data.title}
          </h5>
        </a>
        <!-- Date Section -->
        <p class="text-center font-bold text-xs text-gray-400 dark:text-gray-300 mb-2">
          <FormattedDate date={item.data.pubDate} />
        </p>
        <!-- Description -->
        <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-100">
          {item.data.description}
        </p>
        <!-- Link -->
        <div class="flex justify-center mt-auto">
          <a
            href={`/news/${item.slug}/`}
            class="px-3 py-1 text-sm text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:text-gray-100 dark:hover:text-gray-100 dark:bg-blue-600 dark:hover:bg-blue-600 dark:focus:ring-blue-400"
          >
            weiterlesen
          </a>
        </div>
      </div>
    </div>
  ))}
</div>
