---
// src/components/News.astro
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const news = await getCollection('news');

const sortedNews = news.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  {sortedNews.map((item) => (
    <article class="relative w-full border-gray-200 dark:border-slate-800 rounded-lg overflow-hidden bg-white dark:bg-slate-800 shadow-lg flex flex-col">
      <!-- Image Section -->
      <img
        src={item.data.heroImage}
        alt={item.data.title}
        class="w-full h-64 object-cover"
      />
      <!-- Text Section -->
      <div class="p-4 flex-grow">
        <h2 class="dark:text-cyan-400 text-center text-lg font-semibold text-gray-800">
          {item.data.title}
        </h2>
        <p class="text-center font-bold text-xs text-black-400 mt-1">
          <FormattedDate date={item.data.pubDate} />
        </p>
        <p class="text-center text-sm text-gray-600 mt-2 dark:text-white">
          {item.data.description}
        </p>
        <a
          href={`/news/${item.slug}/`}
          class="dark:text-cyan-400 text-blue-600 underline mt-4 block text-center"
        >
          weiterlesen
        </a>
      </div>
    </article>
  ))}
</div>

