---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('wiki')).sort(
	(a, b) => a.data.ordinal - b.data.ordinal
);
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="w-full">
				<div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 transition-shadow gap-5 gap-y-6 justify-center">
					{posts.map((post) => (
						<div class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 border-solid border-2 rounded-3xl">
						<a class="hover:no-underline" href={`/wiki/${post.slug}/`}>
							<!-- Cover image -->
							<img class="m-0 p-0 w-full h-[300px] max-h-[300px] rounded-2xl rounded-b-none" width={720} height={300} src={post.data.heroImage} alt="" />
							<div class="p-2 pb-4">
								<!-- Title and description -->
								<h3 class="m-0 p-0">{post.data.title}</h3>
								<i>{post.data.description}</i>
							</div>
						</a>
						</div>
					))}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
